{{outlet}}
<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Rentals</h2>
  <p>
    The Rentals website is a delightful project created to explore Ember technology.
    This property rental website helps users to see the listing and contact of the property owner.<br>
    Hope you like it. Please send any suggestions or feedback at this address <a href='mailto:baljotmalhi11@gmail.com' >Baljotmalhi11@gmail.com</a>
  </p>
   {{#link-to 'contact' class="button"}}
    Contact Us
  {{/link-to}}
</div>